services:
  - mongodb

language: ruby

cache: bundler

before_install:
  - gem update --system
  - gem install bundler

matrix:
  include:
    - rvm: 2.3.1
      env: MONGOID_VERSION=2
    - rvm: 2.3.1
      env: MONGOID_VERSION=3
    - rvm: 2.3.1
      env: MONGOID_VERSION=4
    - rvm: 2.3.1
      env: MONGOID_VERSION=5
    - rvm: 2.3.0
    - rvm: 2.2.5
    - rvm: 2.1.10
    - rvm: 2.0.0
    - rvm: 1.9.3
    - rvm: rbx-2
    - rvm: ruby-head
    - rvm: jruby-head
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx-2

bundler_args: --without development
